* {
    font-family: 'Inter', sans-serif;
}

.forgot-wrapper {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(167, 167, 167, 0.65);
    backdrop-filter: blur(3px);
}

.forgot-box {
    position: relative;
    width: 380px;
    padding: 40px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    z-index: 2;
    overflow: hidden;
}

.forgot-box::before {
    content: "";
    position: absolute;
    top: -50px;
    left: -70px;
    width: 120px;
    height: 100px;
    background: #0b254d;
    border-radius: 30%;
    z-index: -1;
    
}

.icon-back {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}

.forgot-box h2 {
    text-align: center;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.input-field {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    box-sizing: border-box; 
}

.input-field:focus {
    border: 1px solid #0b254d;
}

.input-box label {
    position: absolute;
    left: 10px;
    top: 12px;
    font-size: 12px;
    color: #888;
    pointer-events: none;
    transition: 0.2s ease;
}

.input-field:focus ~ label,
.input-field:not(:placeholder-shown) ~ label {
    top: -12px;
    font-size: 11px;
    color: #0b254d;
}

button {
    width: 100%;
    height: 40px;
    background: #0b254d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    transition: 0.2s ease;
}

button:hover {
    background: #0d3d84;
}

.error-text {
    color: #e53935;
    font-size: 11px;
    margin-top: 5px;
}