<div class="forgot-wrapper">

  <div class="overlay"></div>

  <div class="forgot-box">

    <i class="bx bx-arrow-back icon-back" (click)="goBack()"></i>

    <h2>Restablecer contraseña</h2>

    <p class="subtitle">
      Ingresa tu correo y te enviaremos un código de verificación
    </p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="input-box">
        <input
          type="email"
          class="input-field"
          formControlName="email"
          placeholder=" "
          [class.input-error]="email.invalid && email.touched"
        />
        <label>Email</label>

        <p *ngIf="email.touched && email.hasError('required')" class="error-text">
          Este campo es obligatorio
        </p>
        <p *ngIf="email.touched && email.hasError('invalidEmail')" class="error-text">
          Email inválido (ej: correo&#64;gmail.com)
        </p>
      </div>

      <button type="submit">
        Enviar código
      </button>

    </form>

  </div>

</div>